body {
    padding-bottom: 50px;
}

#tcmi {
    position:   fixed;
    bottom:     0;
    width:      100%;
    background: #fff;
    border-top: 1px solid #eee;
    z-index:    100;
    height:     2em;
    line-height: 2em;
}

#tcmi > * {
    display:        inline-block;
    vertical-align: middle;
}

.tcmi_logo,
#tcmi.playing .tcmi_logo:hover {
    float:  right;
    color:  #004000;
    margin-right:   8px;
}
.tcmi_logo:hover,
#tcmi.playing .tcmi_logo {
    color:  #c00000;
}


.tcmi_select {
    color:          #c00000;
    background:     #fff;
    border:         1px solid #ccc;
}
.tcmi_select option {
    color:          #004000;
}

.tcmi_play, .tcmi_pause {
    cursor:         pointer;
    cursor:         hand;
    margin:         0 8px;
    width:          12px;
    height:         12px;
    border:         0;
    overflow:       hidden;
    text-indent:    -999em;
    background:     transparent url('/static/assets/tcmi/images/controls.png') no-repeat 50% 0; 
}
.tcmi_pause {
    background-position:    50% -12px;
}
